<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>Việt Nam Hà Nội</title>
</head>
<body>
    <h1>Việt Nam {{ hn }}</h1>
    <p>Thành phố {{ hn }} có địa chỉ: {{ diachi }}</p>
</body>
</html>
